{% extends "list.html" %}
{% load widget_tweaks %}
{% load static %}

{% block css_include %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock %}

{% block content_single %}

    <div class="col-lg-3 col-sm-12">
        <div class="box-content">
            <div class="statistics-box with-icon">
                <i class="ico fa fa-money text-inverse"></i>
                <h2 class="counter text-inverse">{{ total_fluxo }}</h2>
                <p class="text">SALDO ATUAL</p>
            </div>
            <!-- .statistics-box .with-icon -->
        </div>
        <!-- /.box-content -->

        <div class="box-content">
            <div class="statistics-box with-icon">
                <i class="ico fa fa-sign-in  text-success"></i>
                <h2 class="counter text-success">{{ entradas|floatformat:2 }}</h2>
                <p class="text">TOTAL DE ENTRADAS</p>
            </div>
            <!-- .statistics-box .with-icon -->
        </div>
        <!-- /.box-content -->

        <div class="box-content">
            <div class="statistics-box with-icon">
                <i class="ico fa fa-sign-out text-primary"></i>
                <h2 class="counter text-primary">{{ saida|floatformat:2 }}</h2>
                <p class="text">TOTAL DE SAÍDAS</p>
            </div>
            <!-- .statistics-box .with-icon -->
        </div>
        <!-- /.box-content -->
    </div>
    <!-- /.col-lg-3 col-xs-12 -->
    <div class="col-lg-9 col-md-12">
        <div class="box-content">
            {% include 'fluxo/componentes/grafico_highcharts.html' %}
        </div>
        <!-- /.box-content -->
    </div>
    <!-- /.col-lg-6 col-md-12 -->


{% endblock %}


{% block columns %}
    <tr>
        <th scope="col" class="text-center" style="width: 20%;">Data</th>
        <th scope="col" class="text-center" style="width: 20%;">Tipo</th>
        <th scope="col" class="text-center" style="width: 20%;">Corretora</th>
        <th scope="col" class="text-center" style="width: 25%;">Valor</th>
        <th scope="col" class="text-center" style="width: 15%;">Opções</th>
    </tr>
{% endblock %}

{% block modal %}
    <div class="modal fade btnAdd" id="modalCadastrFluxo" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Cadastro de fluxo</h4>
                    </div>
                    <div class="modal-body">

                        <div class="card-content">
                            <div class="form-horizontal">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {% render_field field class="form-control" %}
                                        {% for error in field.errors %}
                                            <p class="help-block">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm  btn-bordered" data-dismiss="modal">
                                Fechar
                            </button>
                            <button type="submit" class="btn btn-primary js-create-book btn-sm btn-bordered  btnAdd">
                                Cadastrar
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock modal %}

{% block list_js %}
    <script src="{% static 'fluxo/js/fluxo.js' %}"></script>
{% endblock %}
