{% extends "index.html" %}
{% load static %}

{% block css_customizado %}
    <!-- Data Tables -->
    <link rel="stylesheet" href="{% static 'assets/plugin/datatables/media/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugin/datepicker/css/bootstrap-datepicker.min.css' %}">
{% endblock css_customizado %}
{% block content %}

    <div class="col-xs-12">
        <div class="box-content">
            <h4 class="box-title">{{ title }}</h4>
            <button type="button" class="btn btn-primary btn-bordered pull-right" data-toggle="modal"
                    data-target="#modalCadastrFluxo">Novo Fluxo
            </button>

        </div>
        <!-- /.box-content -->
    </div>
    <!-- /.col-xs-12 -->
    <div class="col-xs-12">
        <table id="fluxo_tabela" class="table table-striped table-bordered display" style="width:100%">
            <thead>
            <tr>
                <th scope="col" style="width: 20%;">Data</th>
                <th scope="col" style="width: 20%;">Tipo</th>
                <th scope="col" style="width: 20%;">Corretora</th>
                <th scope="col" style="width: 25%;">Valor</th>
                <th scope="col" style="width: 15%;">Opções</th>
            </tr>
            </thead>
            <tbody>
            {% for c in object_list %}
                <tr>
                    <td>{{ c.data }}</td>
                    <td>{{ c.get_tipo_fluxo_display }}</td>
                    <td>{{ c.corretora }}</td>
                    <td>{{ c.valor }}</td>
                    <td>

                        <button type="button" class="btn btn-warning btn-xs btn-bordered">
                            <i class=" ti-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs btn-bordered">
                            <i class=" ti-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block modal %}
    <div class="modal fade" id="modalCadastrFluxo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cadastro de fluxo</h4>
                </div>
                <div class="modal-body">
                    <div class="card-content">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inp-type-2" class="col-sm-3 control-label">Data</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="02/02/2021"
                                               id="datepicker">
                                        <span class="input-group-addon bg-primary text-white"><i
                                                class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inp-type-1" class="col-sm-3 control-label">Tipo</label>
                                <div class="col-sm-9">
                                    <select class="form-control">
                                        <option value="">Nenhum tipo selecionado</option>
                                        <option value="1">Entrada de Dinheiro</option>
                                        <option value="2">Retirada de Dinheiro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inp-type-1" class="col-sm-3 control-label">Corretora</label>
                                <div class="col-sm-9">
                                    <select class="form-control">
                                        <option value="">Nenhuma corretora selecionada</option>
                                        <option value="1">Clear</option>
                                        <option value="2">Banco Inter</option>
                                        <option value="3">Rico</option>
                                        <option value="3">Avenue</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inp-type-4" class="col-sm-3 control-label">Valor</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inp-type-4" placeholder="0,00">
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm  btn-bordered" data-dismiss="modal">
                        Fechar
                    </button>
                    <button type="button" class="btn btn-primary btn-sm btn-bordered">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_customizado %}
    <!-- Data Tables -->
    <script src="{% static 'assets/plugin/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugin/datatables/media/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/scripts/datatables.demo.min.js' %}"></script>

    <!-- DateRangepicker -->
    <script src="{% static 'assets/plugin/datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'assets/plugin/datepicker/js/bootstrap-datepicker.pt-BR.min.js' %}"></script>
    <script src="{% static 'assets/scripts/form.demo.js' %}"></script>
{% endblock script_customizado %}