{% extends "index.html" %}
{% load static %}
{% block css %}

{% endblock  %}
{% block content %}

    <div class="row small-spacing">

			<div class="col-lg-3 col-xs-12">
				<div class="box-content">
					<div class="statistics-box with-icon">
						<i class="ico ti-bar-chart-alt text-inverse"></i>
						<h2 class="counter text-inverse">20.400,00</h2>
						<p class="text">SALDO BRUTO</p>
					</div>
					<!-- .statistics-box .with-icon -->
				</div>
				<!-- /.box-content -->

				<div class="box-content">
					<div class="statistics-box with-icon">
						<i class="ico ti-android text-success"></i>
						<h2 class="counter text-success">11.000,00</h2>
						<p class="text">VALOR APLICADO</p>
					</div>
					<!-- .statistics-box .with-icon -->
				</div>
				<!-- /.box-content -->

				<div class="box-content">
					<div class="statistics-box with-icon">
						<i class="ico ti-user text-primary"></i>
						<h2 class="counter text-primary">38,34%</h2>
						<p class="text">RENTABILIDADE</p>
					</div>
					<!-- .statistics-box .with-icon -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-3 col-xs-12 -->

			<div class="col-lg-9 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Patrimônio mês a mês</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div id="svg-animation-chartist-chart" class="chartist-chart" style="height: 314px"></div>
					<!-- /#svg-animation-chartist-chart.chartist-chart -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-9 col-xs-12 -->

		</div>
		<!-- /.row small-spacing -->

{% endblock  %}
{% block script %}

{% endblock  %}