<div class="main-menu">
	<header class="header">
		<a href="#" class="logo"><i class="ico ti-rocket"></i>Investimento</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
	</header>
	<!-- /.header -->

    <div class="content">

		<div class="navigation">
			<h5 class="title">navegação</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li class="current">
					<a class="waves-effect" href="index.html"><i class="menu-icon ti-dashboard"></i><span>Dashboard</span></a>
				</li>
			</ul>
			<!-- /.menu js__accordion -->
			<h5 class="title">Controle fluxo</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon ti-flag"></i><span>Fluxo</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="#">Add</a></li>
						<li><a href="#">Listar</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>

			</ul>
			<!-- /.menu js__accordion -->
			<h5 class="title">Análise</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li>
					<a class="waves-effect" href="#"><i class="menu-icon ti-user"></i><span>Ações</span></a>
				</li>
				<li>
					<a class="waves-effect" href="#"><i class="menu-icon ti-email"></i><span>Fiis</span><span class="notice notice-danger">New</span></a>
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon ti-layers"></i><span>Etf</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="#">Br</a></li>
						<li><a href="#">Us</a></li>

					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon ti-blackboard"></i><span>Infomações</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="#">Contato</a></li>
						<li><a href="#">Sobre</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
			</ul>
			<!-- /.menu js__accordion -->
		</div>
		<!-- /.navigation -->
	</div>
	<!-- /.content -->
</div>
<!-- /.main-menu -->