
<div id="notification-popup" class="notice-popup js__toggle" data-space="75">
	<h2 class="popup-title">Suas notificações</h2>
	<!-- /.popup-title -->
	<div class="content">
		<ul class="notice-list">
			<li>
				<a href="#">
					<span class="name">Dividendo</span>
					<span class="desc">Você recebeu dividendo do ativo MRVE3</span>
					<span class="time">Total recebido R$ 200</span>
				</a>
			</li>
            <li>
				<a href="#">
					<span class="name">Juro sobre capital proprio</span>
					<span class="desc">Você recebeu juro sobre capital proprio do ativo BIDI11</span>
					<span class="time">Total recebido R$ 100</span>
				</a>
			</li>

		</ul>
		<!-- /.notice-list -->
		<a href="#" class="notice-read-more">Veja mais <i class="fa fa-angle-down"></i></a>
	</div>
	<!-- /.content -->
</div>
<!-- /#notification-popup -->
